/*firstPage界面*/
.container .nav li {font-size: 15px}
.header{width:100%;height:240px;background: #dbdbdb}
.header{margin-top: 50px;padding:40px 10px}
.header p{font-size: 20px}
.total{width: 100%;position: relative}
.total>div{margin:20px auto}
.content{border:1px solid #d0d0d0;width:87%;}
.content .container{padding-top: 20px;}
.content .row>div:first-child{border-right:1px solid #d0d0d0;border-bottom:1px solid #d0d0d0;}
.content .row>div:last-child{border-left:1px solid #d0d0d0;border-bottom:1px solid #d0d0d0;}
.content .row ul{padding-bottom: 30px}
.content .row ul li{float: left;font-size: 18px}
.content .row ul li img{
    width:150px;
}

.details {
    display: none;
    padding: 15px 0;
    width:87%;margin:20px auto;
    margin-right: 0;
    margin-left: 0;
    background-color: #fff;
    border:1px solid #ddd;
    border-radius: 4px 4px 0 0;
    box-shadow: none;
    font-size: 17px;
    position: absolute;
    top:-20px;left:88px;
}
.details .row img{width: 100%;}
.details .row table {margin-top: 38px;}
.details .row table tr td{padding:15px 20px;}
.details .glyphicon-remove{position: absolute;top:15px;right:30px;font-size: 20px;color: grey;
    width:28px;height:28px;border-radius: 15px;border:2px solid grey;text-align: center;margin: 0 auto}
.details .glyphicon-remove:hover{color:black}



/*search界面*/
.search_content{width: 86%;margin: 20px auto;}
.search_content a:hover{text-decoration: none  }
.search_content .row>div:first-child{padding:0 0 0 15px}
.search_content .row>div:nth-of-type(2){padding:54px 15px 0 0}
.search_content .row>div>div{padding:0 12px}
.search_content .thumbnail{height:auto;overflow: hidden;border-radius: 4px;padding-bottom: 35px}
.search_content .thumbnail .div{background: url("/public/image/img1.jpg") no-repeat;background-size: cover;
    height:240px;width: 100%;border-radius: 4px 4px 0 0;border:1px solid #d0d0d0;border-bottom: none}
.search_content .thumbnail .caption{margin: 0 auto;margin-top: 15px;text-align: left;padding:0 15px;height:114px;
overflow-y: auto}

/*Create界面*/
.create_from .row>div{padding:30px;}

/*admin界面*/
#admin_div{margin:30px 90px;position: relative}
#admin_div table td a:hover{text-decoration: none}
#admin_div .create_from{display: none;}
#admin_div .create_from .row>div{margin-top:10px;}
#admin_div .create_from .glyphicon-remove{position: absolute;top:0;right:30px;font-size: 20px;color: grey;
width:28px;height:28px;border-radius: 15px;border:2px solid grey;text-align: center;margin: 0 auto}
#admin_div .create_from .glyphicon-remove:hover{color:black}
#admin_div .table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
#admin_div .table > tr.info {
    background-color: #d9edf7;
}
#admin_div .table th{padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;}





.show{display: block;animation: 0.5s showIn;-webkit-animation: 0.5s showIn;
    -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards;}
@keyframes showIn {
    0%{opacity: 0;transform: scale(0)}
    60%{opacity: 0.6;transform: scale(1.2)}
    100%{opacity: 1;transform: scale(1)}
}
@-webkit-keyframes showIn {
    0%{opacity: 0;transform: scale(0)}
    60%{opacity: 0.6;transform: scale(1.2)}
    100%{opacity: 1;transform: scale(1)}
}