<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/public/main.css">
    <script src="/public/js/jquery-1.10.1.min.js"></script>
</head>
<body>
<form>
    <label>姓名：<input type="text" name="username"></label>
    <label>密码：<input type="password" name="password"></label>
    <button id="login">登录</button>
</form>

<script>
    var loginBtn = $("#login");
    loginBtn.on('click',function () {
        $.ajax({
            type: 'post',
            url:'/api/user/register',
            data: {
                username :$('form').find('[name = "username"]').val(),
                password :$('form').find('[name = "password"]').val()
            },
            dataType : 'json',
            success : function (result) {
                alert(result.message);
            }
        })
    })
</script>
</body>
</html>